.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
}

.label {
  font-weight: var(--font-weight-bold);
  color: var(--text-color-dark);
  font-size: var(--font-size-sm);
}