.notificationCard {
  padding: var(--spacing-md);
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  margin-bottom: var(--spacing-md);
  transition: all 0.2s ease;
}

.notificationCard:hover {
  border-color: var(--info-color);
  background-color: var(--grey-color);
}

.message {
  color: var(--text-color-dark);
  margin-bottom: var(--spacing-sm);
}

.timestamp {
  display: block;
  color: var(--dark-grey-color);
  font-size: var(--font-size-sm);
}

.info {
  border-left: 4px solid var(--success-color);
}

.warning {
  border-left: 4px solid var(--danger-color);
}

.success {
  border-left: 4px solid var(--success-color);
}